# This file is separate from the main test only because it must skip Python 3.5.
# Black can only be installed on Python 3.6+. If we ever drop support for
# Python 3.5 then this step can be moved to the main test workflow, or we can
# add black to the default self_check Statick profile.
---
name: Black Formatting

on: [pull_request, push]  # NOLINT

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install black

      - name: Test with black
        run: |
          black --check --diff src tests
